.main {
  width: 100%;
  min-height: 100vh; /* Changed height to min-height for responsiveness */
  background: url("../../assets/Nhome.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.5s ease-in-out;
  display: flex; /* Added display flex to enable flexbox properties */
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.animation-div {
  position: relative;
  overflow-x: hidden;
  background-color: red;
  animation-name: slideRight;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes slideRight {
  0% {
    right: 0;
  }
  100% {
    right: calc(100%);
  }
}
.headingMain {
  /* font-size: 24px; */
  height: 20vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0px 3rem;
  padding-top: 3rem;
  color: #e84524;
}
.Appname h1 {
  font-size: 40px;
  color: white;
  font-weight: 900;
}
.App_desc span {
  font-size: 18px;
  color: white;
  border-right: 2px solid rgb(255, 255, 255);
  padding: 0.6rem;
}

.startButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  margin-bottom: 2rem;
  padding: 0rem 2rem;
}

.startButton > div:last-child {
  display: flex;
  flex-wrap: wrap; /* Added flex-wrap to allow the items to wrap on smaller screens */
  gap: 10px;
}

.Explore {
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #e84524;
  color: rgb(235, 234, 234);
  border-radius: 50px;
  text-align: center;
  height: 3.6rem;
  width: 12rem;
}

.innernew {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items in the column */
  padding: 0 1rem; /* Added padding for spacing */
}

.imageHome {
  width: 168px; /* Removed quotes from width and height values */
  height: 250px;
  margin-right: 1rem;
}
.subBox {
  width: 5rem !important;
}
/* Media queries for small and medium screens */

@media (max-width: 768px) {
  .Appname h1 {
    font-size: 33px;
    color: white;
    font-weight: 900;
  }
  .App_desc span {
    font-size: 15px;
    color: white;
    border-right: 2px solid rgb(255, 255, 255);
    padding: 0.6rem;
  }

  .Explore {
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #e84524;
    color: rgb(235, 234, 234);
    border-radius: 50px;
    text-align: center;
    height: 3.3rem;
    width: 10rem;
  }

  .innernew img {
    width: 125px; /* Removed quotes from width and height values */
    height: 160px;
    margin-right: 1rem;
  }
  .icon a {
    font-size: 1.5rem;
    color: white;
    margin: 0.3rem;
  }
}

@media (max-width: 500px) {
  .headingMain {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0px 2rem;
    padding-top: 3rem;
  }
  .Appname h1 {
    font-size: 25px;
    color: white;
    font-weight: 900;
  }
  .App_desc span {
    font-size: 14px;
    color: white;
    border-right: 2px solid rgb(255, 255, 255);
    padding: 0.4rem;
  }

  .startButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0rem 2rem;
  }

  .startButton > div:last-child {
    display: flex;
    flex-wrap: wrap; /* Added flex-wrap to allow the items to wrap on smaller screens */
    gap: 10px;
  }

  .Explore {
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #e84524;
    color: rgb(235, 234, 234);
    border-radius: 50px;
    text-align: center;
    height: 3rem;
    width: 10rem;
  }
}
