@font-face {
  font-family: bodyfont;
  src: url(./fonts/Halyard\ Display.otf);
}

@font-face {
  font-family: myfont;
  src: url(./fonts/Quakiez.otf);
}
body {
  background-color: #f2efe9;
  font-family: bodyfont !important;
}
h1,
h2,
h3 {
  font-family: myfont !important;
  letter-spacing: 5px !important;
}
